.purchase-options { margin:20px 0 10px; display:flex; flex-direction:column;}
.purchase-options label { margin-bottom:8px; cursor:pointer; display:flex; align-items:center; font-weight:600;}
.purchase-options .active { color:#fff; background:#faa300; border-radius:12px;}
.purchase-options input {margin-right:8px;}
.price { margin-left:auto; font-weight:700; color:#702963;}
.purchase-info { font-size:0.84rem; color:#666; margin-top:4px; }
